// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "defaults/configurations/walmart/es5-node",
  "rules": {
    "no-console": 0,
    "one-var": 0,
    "strict": [2, "global"],
    "eol-last": 0,
    "indent": [2, "tab"],
    "dot-notation": 0,
    "no-invalid-this": 0,
    "space-after-keywords": [2, "never"],
    "space-before-blocks": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "max-len": [1, 200, 4],
    "func-style": 0,
    "no-extra-parens": [2, "functions"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "callback-return": 2,
    "max-params": [1, 5],
    "filenames/filenames": 0,
    "no-shadow": [2, { "allow": ["err"] }],
    "max-statements": [1, 30],
    "no-use-before-define": [2, "nofunc"],
    "operator-assignment": 0
  }
}